@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap%27');

.appbar{
    background-color: #131212 !important;
}

.navbar-logo{
    width: 50px;
    height: 50px;
    margin: 15px 15px 15px 0px;
}

.navbar-logo:hover {
    opacity: 0.8 !important;
}

.appbar-text{
    font-weight: bold !important;
    margin: 0px 20px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.drop-menu{
    margin-left: 20px !important;
}

.color-appbar{
    color: #D5D52C !important;
}

.color-appbar:hover {
    color: #dddd91 !important;
}

.cart-icon{
    margin-left: 20px;
}

.text-decorator-none{
    text-decoration: none;
    color: black;
}