@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Noto+Sans&display=swap');
.ilustracao-cadastro {
    background-image: url(Login-rafiki.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: contain;
    background-position: center;
}

.cadastrar {
    font-weight: bolder !important;
    font-family: 'Montserrat', sans-serif !important;
    color: #f3e8ca !important;
    font-size: 45px !important;
}

.btnresponsivo {
    margin: 10px !important;
}

.MuiButton-containedSecondary {
    color: #0a0a0a !important;
    background-color: #cb8018 !important;
    font-family: 'Noto Sans', sans-serif !important;
    font-weight: bold !important;
}

.MuiButton-containedPrimary {
    color: #0a0a0a !important;
    background-color: #D5D52C !important;
    font-family: 'Noto Sans', sans-serif !important;
    font-weight: bold !important;
}

/*cor do contorno do formulário quando clicado */

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #f3e8cac2 !important;
}

/*cor do texto do formulário quando clicado */

.MuiFormLabel-root.Mui-focused {
    color: #f3e8ca !important;
}

.MuiInputBase-input {
    color: #f3e8ca !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #f3e8cac2 !important;
}

.MuiFormLabel-root {
    color: #f3e8cac2 !important;
}

.inside-box-cadastro {
    padding: 40px;
}

.box-fundo-opaca-cadastro-usuario{
    min-height: 650px;
}